body {
  font-family: "Museo300";
}

.cke_skin_sapling .cke_toolbox {
background: none;
border: none;
}

div.navbar-inner {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

@media (max-width: 767px) {

  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container  {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.navbar .brand {
  padding: 14px 20px 12px;
}

.navbar ul {
  padding-top: 6px;
}

form#nav-search {
  float: left;
  padding-top: 12px;
  height: 17px;
}

form#nav-search input {
  line-height: 19px;
  font-size: 13px;
  font-family: "Museo300";
  color: #ddd;
  border: none;
  background: none;
  padding-left:7px;
  padding-right:5px;
  background-color:#2c2c2c;
  background-image:-moz-linear-gradient(top, #444444, #222222);
  background-image:-ms-linear-gradient(top, #444444, #222222);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image:-webkit-linear-gradient(top, #444444, #222222);
  background-image:-o-linear-gradient(top, #444444, #222222);
  background-image:linear-gradient(top, #444444, #222222);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:3px;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  width: 120px;
  margin-bottom: 0;
}


/* headers */

h1 {
  float: left;
}


div#object_actions {
  padding-top: 4px;
  margin-left: 20px;
  float: left;
}


/* recent changes */

div#limit_to {
  margin-top: 10px;
  margin-bottom: 20px;
}

span.recentchanges {
  font-size: 110%;
}

span.recentchanges a {
  padding: 3px 7px;
}

span.recentchanges a.current {
  background-color: whiteSmoke;
  color: #999;
}

span.facebook {
  float: left;
}

span.facebook iframe { 
  height: 600px;
  border: none; 
}

span.front-image img {
  width: 100%;
  border: 1px solid #333;
}

table.meta-info {
  width: 424px;
  float: right;
  clear: right;
  margin-left: 25px;
}


table, td, th {
    vertical-align: top;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}
td, th {
    padding: 5px;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
thead, tfoot { background: #f2f2f2; }

/* We don't want margin inside <p> inside table cells.  The editor has a
 * tendency to add <p> to table cells when editing, so in order to keep
 * tables looking consistent we zero this out. */
#content #page td p, .page_editor td p {
    margin-bottom: 0;
}
/* Reset the <p> behavior inside the diff table's immediate <td>s */
#content #page .htmldiff > td > p {
    margin-bottom: 1em;
}

table.welcome-box {
  padding: 10px;
  display: block;
  background-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  z-index: 100;
  position: absolute;
  margin: 50px;

}

table.welcome-box td {
  border: none;
}


@media (max-width: 767px) {
table.welcome-box {
  padding: 10px;
  display: block;
  background-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(55, 55, 55, 0.3);
  margin: 50px;
  clear: both;
  position: static;
}
}
@media (max-width: 479px) {
table.welcome-box {
  display: block;
  background-color: rgba(255, 255, 255, .5);
  clear: both;
}

}

